a {
	color: #ed1f24;
}

input {
	height: auto;
}

.label-important {
	background-color: #ed1f24;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
} 

.alert {
	padding: 5px;
}

#header {
	position: absolute; z-index:3;
	top:0; left:0;
	width: 100%;
	line-height: 45px;
	background-color:#222;
	padding: 4px 0;
	color: #eee;
	text-align: center;
}

#header .btn {
	font-weight: bold;
}

#header .map,
#header .back {
	float: left;
	margin-left: 5px;
}

#header .back {
	margin-right: -100%;
}

#header .info {
	float: right;
	margin-right: 5px;
}

#wrapper {	
	position:absolute; z-index:1;
	top: 0;
	left: 0;
	height: 100%;
	width:100%;
	overflow:auto;
}

.index #scroller {
	background: url("../img/white_brick_wall.png");
}

/* Index page */
div.building {
	display: none;
}

div.building.active {
	display: block;
}

.floor {
	min-height: 400px;
	padding-top: 10px;
}

.floor ul {
	padding: 0;
	margin: 0 0 0 60px;
	list-style: none;
}

.floor li a{
	display: block;
	width: 240px;
	height: 140px;
	font-size: .88em;
	line-height: 1.5em;
	letter-spacing: .05em;
	overflow: hidden;
	margin: 15px 0;
	text-decoration: none;
	color: #fff;
}

.floor .overlay {
	display: inline-block;
	padding: 5px;
	width: 230px;
	background: rgba(0,0,0,.7);
	position: relative;
	top: -64px;
}

.floor .overlay i {
	float: right;
	margin-top: 10px;
}

.floor .artist {
	display: block;
	text-transform: uppercase;
}

#floor-1-500 {
	padding-top: 35px;
}

#floor-1-500 {
	background: url(../img/background.gif) no-repeat;
	background-size: cover;
}

#floor-1-516 {
	background: url(http://farm7.static.flickr.com/6040/6306058579_ffef6e6f0e_z.jpg) no-repeat right center;
	background-size: cover;
}

.welcome {
	background: rgba(255,255,255,.93);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,.26);
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.26);
	box-shadow: 0 0 15px rgba(0,0,0,.26);
	width: 230px;
	float: right;
	margin-top: 45px;
	padding: 15px 5px 15px 15px;
}

.welcome ul {
	margin: 0;
}

#building-516 p {
	width: 250px;
	font-size: 1.361em;
	line-height: 1.4em;
	padding: 40px 10px;
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #666;
	padding: 0;
	margin: 0;
	text-align: center;
	z-index: 2;
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav ul:first-child {
	margin-top: 35px;
}

.nav li {
	border-bottom: 1px solid rgba(255,255,255,.2);
	padding: 5px 0;
}

.nav li.active {
	background: #ed1f24;
}

.nav li a,
.nav li a:hover,
.nav li a:visited {
	display: block;
	color: #fff;
	font-size: 1.231em;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 8px;
	text-shadow: none;
	min-width: 18px;
}

.nav .building-title {
	font-weight: bold;
	color: #fff;
	background: #444 url(../img/building.png) no-repeat center 1px;
	padding: 22px 5px 3px 5px;
}

.nav-516,
.nav-1414 {
	display: none;
}

#loading {
	background: rgba(0,0,0,.8);
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
	font-size: 18px;
	width: 160px;
	position: absolute;
	top: 100px;
	margin-left: 80px;
	display: none;
	z-index: 2000;
}

.content,
.tag-area {
	padding: 10px;
}

.basic-info {
	overflow: auto;
}

.basic-info p {
	float: left;
	width: 220px;
}

.basic-info .label {
	float: right;
	margin-right: 0;
}

.basic-info a {
	float: right;
	display: inline-block;
	margin-top: 20px;
}

.tag-1,
.tag-2,
.tag-3,
.tag-4 {
	text-decoration: underline;
	color: #ed1f24;
	font-size: 1.08em;
	vertical-align: middle;
	display: inline-block;
	margin: 4px;
	text-transform: lowercase;
}

.tag-2 {
	font-size: 1.361em;
}

.tag-3 {
	font-size: 1.861em;
}

.tag-4 {
	font-size: 2.321em;
}

.tag-area {
	background: #f1f1f1;
	border: 1px solid #ddd;
	border-width: 1px 0;
}

.tag-area form {
	margin: 10px 0;
}

.tag-area input {
	width: 200px;
}