<html>
	<head>
		<title>Mattress Factory</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
		<link rel="stylesheet" href="css/styles.css" />
		
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
		<script src = "js/jquery.parse.js"></script>
		<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
		        type="text/javascript">
		</script>
		<link href="styles.css" rel="stylesheet" type="text/css" media="screen" />
		<style type="text/css"></style>
		
		<script type="text/javascript">
			var objURL = new Object();
			window.location.search.replace(
			new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
				function( $0, $1, $2, $3 ){
					objURL[ $1 ] = $3;
				}
			);
 
		</script>
	</head>
	<body>
		<div data-role="page">

			<div data-role="header">
				<a href="index.html" data-role="button" rel="external" data-icon="arrow-l">Back</a>
				<h1><img src="mflogo.png"></h1>
				<a href="info.html" rel="external" data-icon="info">Info</a>
			</div><!-- /header -->

			<div id="content">
						
			</div><!-- /content -->
	
		</div><!-- /page -->
		
		<script type="text/html"  id="piece_tmpl">
			<div class="imageSub">
				<img src="<%=imageUrl%>" />
				<div class="blackbg"></div>
				<div class="label"><a name="fb_share" type="icon" share_url="http://farm7.staticflickr.com/6117/6329646852_3aa7a84a86_o.jpg"></a> </div>
			</div><!--pictures-->
					
			<div id="status">
				<%=status%>
			</div>
			<div id="description">
				<div style="text-transform:uppercase"><%=artist%></div>
				<i><%=title%></i>, <%=year%> <br />
				<%=description%>
			</div>
			<br /><br /><br /><br />
			<div id="infolink">
				<a href="#">More Info >></a>
			</div>
			<br />
			<div id="tips">
				<%=tips%>
			</div>
			<div id="tag_tmpl">
				Tags:
				<br />
				<div id="tags"><% for (var key in tagCounts) { %>
					<span> <%=key%>(<%=tagCounts[key]%>) </span>
				<% } %></div>
				<br />		
				<input type="text" id="new_tag" placeholder="Tag"  />
			</div>	
		</script>
		
		<script src="js/tmpl.js"></script>
		<script src="js/demo2.js"></script>
		
	</body>
</html>