<html>
	<head>
		<title>Mattress Factory</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=0;" /> 

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/styles.css" />

		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/vendor/iscroll.js"></script>
		<script type="text/javascript">
			var myScroll;
			function loaded() {
				myScroll = new iScroll('wrapper');
				var tagField = document.getElementById('tag-field');
				tagField.addEventListener('touchstart' /*'mousedown'*/, function(e) {
					e.stopPropagation();
				}, false);
				tagField.addEventListener('mousedown', function(e) {
					e.stopPropagation();
				}, false);

				$('form').submit(function(e){
					e.preventDefault();
					var input = $(this).find('input');
					var newTag = input.val();
					$('.tag-cloud').append('<span class="tag-1">'+newTag+'</span>');
					input.val('');
				});
			}

			document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

			/* Use this for high compatibility (iDevice + Android)*/
			document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);

			
		</script>
		
		<script type="text/javascript">
			var objURL = new Object();
			window.location.search.replace(
			new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
				function( $0, $1, $2, $3 ){
					objURL[ $1 ] = $3;
				}
			);
 
		</script>
	</head>
	<body>
		<div id="header">
			<a class="btn btn-inverse btn-small back" href="index.html"><i class="icon-chevron-left icon-white"></i> Back</a>
			<img src="img/mflogo.png">
		</div>
		<div class="container">
			<div id="wrapper">				
				<div id="scroller" class="detail">
					
				
				</div>
			</div>
		</div>
		
		<script type="text/html" id="piece_tmpl">
			<img src="<%= imageUrl %>" />
			<div class="content">
				<div class="basic-info">	
					<ul>
						<li class="artist"><%= artist %></li>
						<li class="title"><em><%= title %></em>, <%=year%></li>
						<li><%= description %></li> 
					</ul>	
					<span class="label label-important"> <%=status%> </span>
					<a class="more-info">More Info >></a>
				</div>

				<div class="alert">
					<strong>Tip:</strong> <%=tips%>
				</div>	
				
			</div>

			<div class="tag-area">
				<div id="tags">
					<% for (var key in tagCounts) { %>
						<a href="tag.html?i=<%=tagCounts[key][1]%>">
							<span class="tag tag-<%=tagCounts[key][0]%>"> <%=key%> </span>
						</a>
					<% } %>
				</div>

				<form class="form-inline">
					<input id="tag-field" class="input-medium" type="text" placeholder="What do you think?" />
					<button type="submit" id="tag-button" class="btn"><i class="icon-tag"></i> Add Tag</button>
				</form>
			</div>	
		</script>

		
		<script type="application/javascript" src = "js/vendor/jquery.parse.js"></script>
		<script type="application/javascript" src="js/vendor/tmpl.js"></script>
		<script type="application/javascript" src="js/vendor/bootstrap.min.js"></script>

		
		<script type="application/javascript" src="js/detail.js"></script>
	</body>
</html>