<html>
	<head>
		<title>Mattress Factory</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=0;" /> 

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body class="index">
		<div id="header">
			<a class="btn btn-inverse btn-small map"><i class="icon-map-marker icon-white"></i> Map</a>
			<img src="img/mflogo.png">
			<a class="btn btn-inverse btn-small info" href="info.html"><i class="icon-info-sign icon-white"></i> Info</a>
		</div>
		<div id="loading">
			Loading...
		</div>
		<div class="container">
			<div class="nav" id="navbar">
				<ul>
					<li class="building-title" data-to-show=".nav-500" data-building="500">500</li>
					<li class="nav-500"><a data-link="#floor-4-500" class="scrollTo">4</a></li>
					<li class="nav-500"><a data-link="#floor-3-500" class="scrollTo">3</a></li>
					<li class="nav-500"><a data-link="#floor-2-500" class="scrollTo">2</a></li>
					<li class="nav-500"><a data-link="#floor-1-500" class="scrollTo first">1</a></li>
					<li class="nav-500"><a data-link="#floor-0-500" class="scrollTo">LL</a></li>
					
					<li class="building-title" data-to-show=".nav-1414" data-building="1414">1414</li>
					<li class="nav-1414"><a data-link="#floor-3-1414" class="scrollTo">3</a></li>
					<li class="nav-1414"><a data-link="#floor-2-1414" class="scrollTo">2</a></li>
					<li class="nav-1414"><a data-link="#floor-1-1414" class="scrollTo first">1</a></li>
					
					<li class="building-title" data-to-show=".nav-516" data-building="516">516</li>
					<li class="nav-516"><a data-link="#floor-3-516" class="scrollTo">3</a></li>
					<li class="nav-516"><a data-link="#floor-2-516" class="scrollTo">2</a></li>
					<li class="nav-516"><a data-link="#floor-1-516" class="scrollTo first">1</a></li>
				</ul>
			</div>
			<div id="wrapper">				
				<div id="scroller" data-spy="scroll" data-target="#navbar">


				</div>
			</div>
		</div>
		
		<script type="text/html"  id="piece_tmpl">
			<li> 
				<a href="detail.html?i=<%=objectId%>">
					<img src="<%=imageUrlSmall%>" />
					<span class="overlay">
						<i class="icon-chevron-right icon-white"></i>
						<span class="artist"> <%= artist %> </span>
						<%= title %>
					</span>	
				</a>
			</li>
		</script>
		
		<script type="text/html" id="500_welcome_message">
			<div class="welcome">
				<h4>Welcome!</h4>
				<h3>To begin your tour, please tap the <a data-link="#floor-4-500" class="scrollTo">4th floor</a></h3>
				<em>You can take the elevator or the stairs.</em>
				<p><i class="icon-gift"></i> Visit our gift shop on this floor</p>
				<h4>Announcements:</h4>		
				<ul class="announcements">
					<li>
						<date>June 15th</date> - 
						Get ready for the Urban Garden Party &#147;Alice At the Factory&#148;
					</li>
				</ul>
			</div>
		</script>
		
		<script type="text/html" id="516_welcome_message">
			<div class="welcome">
				<h3>516 is currently under construction. Please, check back soon.</h3>
			</div>
		</script>

		
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/vendor/iscroll.js"></script>
		<script type="application/javascript" src = "js/vendor/jquery.parse.js"></script>
		<script type="application/javascript" src="js/vendor/tmpl.js"></script>
		<script type="application/javascript" src="js/vendor/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="js/script.js"></script>
		<script type="application/javascript" src="js/pieces.js"></script>
	</body>
</html>