body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
#content{
	background-color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 90px;
}
#pictures {
	padding: 0px;
	margin: -15px;
	position: relative;
}
#description{
	padding: 20px;
	float: left;
	position: relative;
}

#status{
	margin: 20px;
	color:#fff;
	background-color:#ff0000;
	padding: 5px;
	width: 80px;
	text-align: center;
	float: right;
	position: relative;
	font-weight: lighter;
}

#infolink{
	margin: 20px;
	color: #aaa;
	text-decoration: underline;
	position: relative;
	float: right;
	margin-top: -16px;
}
#tips{
	border: 1px solid #ccb396;
	margin:20px;
	padding:5px;
	font-style:italic;
	background-color: #f9e7d3;

}
#tags{
	border-top: 1px solid #a1a1a1;
	background-color:#eaeaea;
	padding: 20px;
}
#tagbutton{
	font-size: 20px;
	border: 1px solid #000;
	background-image: url('tagpic.png');
	background-position: left;
	background-repeat: no-repeat;
	background-position: 70px center;
	background-color: #c5c5c5;
	border-radius: 0px;
	
}